.post_img img {
    width: 100%;
}

.post_global {
    background-color: white;
    padding: 5px 5px 10px 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .08);
    align-self: start;
}

.text_category {
    text-align: center;
    color: #58bcb3;
    font-family: "Agency FB";
    font-size: 1.5em;
    font-weight: 500;
    height: 1.2em;
}

.text_title {
    text-align: center;
    color: black;
    font-family: "Agency FB";
    font-size: 1.8em;
    font-weight: 500;
    padding: 5px 0 0.4em 0;
}
.content {
    padding-bottom: 1.2em;
}

.read_button {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    text-align: center;
    color: black;
    font-family: "Agency FB";
    font-size: 1.3em;
    width: 5em;
    height: 1.5em;
    background-color: #58bcb3;
    cursor: pointer;
    padding-top: 0.3em;
}

.likes img {
    width: 1em;
    /*height: 9px;*/
    opacity: 0.5;
}

.comment_like {
    margin-top: 7px;
    display: flex;
    font-size: 0.8em;
    width: 80%;
    position: relative;
    transform: translate(-50%);
    left: 50%;
}

.com_like_position {
    padding-right: 8px;
}
