.aside_grid {
    grid-area: aside;
    align-self: start;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.08);
    padding-bottom: 40px;
}

.search {
    width: 150px;
    position: relative;
    display: flex;
    padding: 3px;
    border: solid 1px;
}

.searchButton {
    width: 30px;
    height: 30px;
    border: none;
    outline: none !important;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.5;
}
.searchInput {
    margin-left: 5px;
    width: 100px;
    text-align: left;
    border: none;
    outline: none !important;
    background-color: transparent;
    opacity: 0.8;
}
.category_wrapper{
    margin: 0 20px 0 10px;
    font-family: "Agency FB";
    font-size: 1.3em;
}

.category_header {
    text-align: left;
    color: black;
    border-bottom: solid 1px black;
    padding-bottom: 5px;
}
.category_items {
    text-align: left;
    padding-top: 5px;
}

.border_back{
    font-family: "Agency FB";
    font-size: 1em;
    padding-top: 1.2em;
    padding-bottom: 0.2em;
    height: 20px;
    border-bottom: 1px rgba(111,108,110,0.2) solid;
    text-align: left;
}