.content_grid {
    grid-area: content;
}

.post_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
}