.app_wrapper {
  display: grid;
  grid-template-columns:  minmax(100px, 150px) minmax(400px, 3fr) minmax(200px, 1fr);
  grid-template-rows: 1fr 200px;
    grid-column-gap: 15px;
  grid-template-areas: "navigation content aside"
                        "footer footer footer";
}