body {
  margin: 0px 15px 0px 15px;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #8d8c8c;
  font-weight: 400;
  background-color: #f6f6f6;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #8d8c8c;
}
a:hover {
  color: #58bcb3;
}
a:active{
  color: #58bcb3;
}




::selection{
  background: #58bcb3;
  color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
